
.imagine_mica {
    display: block;
    margin-inline: auto;
    max-width: 50%;
    height: auto;
}

.imagine_mare {
    display: block;
    margin-inline: auto;
    max-width: 100%;
    height: auto;
}


/*container*/
.container {
    display: flex;
    justify-content: center; 
    align-items: flex-start;   
    gap: 2rem;                
    margin: 2rem auto;        
    max-width: 1200px;      
}
.container details {
  flex: 0 0 20vmin;      
  background: #0d2438;
  border: 1px solid #000000;
  border-radius: 8px;
  padding: 1rem;
  font-size: 15px;
  color: #AEECEF;
}
/* slides */
.slides {
    position: relative;
    overflow: hidden;
    width: 90vmin;
    height: 100vmin;
}

.slides li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.slides img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: top;
    transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

/* miniaturi (thumbnails) */
.thumbnail {
    display: flex;
    flex-direction: column; 
    gap: 1rem;
    margin: 0;
    padding: 0;
    list-style: none;
}



.thumbnail img {
    width: 20vmin;
    height: 15vmin;
    object-fit: cover;
    object-position: top;
    border-radius: 8px;
    cursor: pointer;
}

.thumbnail img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

/*switch*/
.slides li:target {
    z-index: 2;
   
}

/*container 2*/
.container2 {
    display: flex;
    justify-content: center; 
    align-items: flex-start;   
    gap: 1rem;                
    margin: 2rem auto;        
    max-width: 1200px;
}

.container2 ol {
  flex: 0 0 30vmin;      
  background: #0d2438;
  border: 1px solid #AEECEF;
  border-radius: 8px;
  padding: 2rem;
  font-size: 20px;
  color: #AEECEF;
}

.container2 p {
  color: #AEECEF;
  font-size: 18px;
}

.container2 ul {
  
  list-style: none;
}

.container2 img {
  border-color: #0d2438;
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;
}

.video-frame {
  justify-content: center;
  background: #0d2438;           
  border: 2px solid #0d2438;
  border-radius: 12px;
  padding: 1rem;
  margin: 2rem auto;
  width: 80vmin;                
}

.video-frame video {
  width: 100%;
  border: 3px solid #AEECEF;     
  border-radius: 8px; 
}
