/*container timeline*/
.timeline {
  position: relative;
  margin: 40px auto;
  padding: 40px 0;
  width: 90%;
  max-width: 900px;
}

.timeline::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 6px;
  background: #00A8B5;
  transform: translateX(-80%);
  border-radius: 3px;
}


/* structura card */
.card {
  position: relative;
  width: 45%;
  background: #0d2438;
  color: #00A8B5;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
}

.card:nth-child(odd) {
  left: 0;
  margin-left: 0;
  text-align: right;
}

.card:nth-child(even) {
  left: 55%;
  text-align: left;
}


/*linii intre carduri*/
.card::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 6px;
  top: 50%;
  background: #00A8B5;
  border-radius: 3px;
}

.card:nth-child(odd)::before {
  right: -46px;
}

.card:nth-child(even)::before {
  left: -50px;
}


/*content cards*/
.info {
  background: #0d2438;
  border-radius: 12px;
  padding: 20px 25px;
  line-height: 1.6;
}

.info h3 {
  color: #00A8B5;
  font-size: 1.6rem;
  margin: 0 0 12px 0;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-align: inherit;
}

.info p {
  color: #f0f0f0;
  font-size: 1rem;
  margin: 8px 0;
  text-align: justify;
}

.info em {
  color: #00A8B5;
  font-style: normal;
  font-weight: 500;
}

.info strong {
  color: #FFD700;
}

.card ul {
  margin: 10px 0 10px 20px;
  padding: 0;
}
