
/* Stiluri pentru logo */
.logo {
  width: clamp(40px, 8vw, 80px);   
  height: auto;  
  vertical-align: middle;
  position: relative;
}

/* Stiluri pentru paragrafe si titluri */
p {
    font-family: Arial, sans-serif;
    font-size: clamp(1rem, 1.3vw, 1.2rem);
    line-height: 1.5;
    color: #000000;
    margin-left: 20px;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000;
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    display: inline-block;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000;
    font-size: clamp(1rem, 3vw, 2rem);
    margin-left: 20px;
}


/* Stiluri pentru corpul paginii */
body {
    margin: 0px;
    background-color: #F0F8FF;
}

/* Stiluri pentru header */
header {
  display: grid;
  grid-template-columns: auto 1fr; 
  align-items: center;
  background-color: #0d2438; 
  width: 100%;
  box-sizing: border-box;
}

/* Stiluri pentru bara de navigare desktop sau telefon*/
.navBar {
  display: grid;
  grid-auto-flow: column;
  gap: clamp(6px, 1vw, 10px); 
  justify-content: end;
  align-items: center;
  margin-right: clamp(10px, 4vw, 40px);
}

.navBar a {
  color: #AEECEF; 
  text-decoration: none;
  font-weight: bold;
  font-size: clamp(0.9rem, 1.5vw, 1.2rem); 
  padding: clamp(4px, 0.8vw, 8px) clamp(6px, 1vw, 12px);
  transition: color 0.3s ease, background-color 0.3s ease;
}

.navBar a:hover {
  color: white;
}

.navBar a.active {
  color: white;               
  background-color: transparent; 
}

.hamburger {
  display: none;
  position:absolute;
  right: 20px;
  font-size: 2rem;
  color: #AEECEF;
  cursor: pointer;
  user-select: none;
}

@media (max-width: 768px) {
  .navBar {
    display: flex;
    flex-direction: column;
    background-color: #0d2438;
    position: absolute;
    top: 70px;        
    right: 0;         
    width: 220px;     
    text-align: right;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease;
    border-radius: 20px; 
  }

 
  #menu-toggle:checked + .hamburger + .navBar {
    max-height: 300px;
    padding: 10px 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    color: #AEECEF;
  }

  .navBar a {
    display: block;
    padding: 10px 15px;
    color: #AEECEF;
    text-align: right;
  }
}

  .active {
    color: white;
}